<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gqexchange?autoReconnect=true</property> <!-- todo -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">100</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Mapping files -->
		<mapping resource="BusnLine.hbm.xml" />
		<mapping resource="ClientData.hbm.xml" />
		<mapping resource="Enterprise.hbm.xml" />
		<mapping resource="EnterpriseMeter.hbm.xml" />
		<mapping resource="Gatekpr.hbm.xml" />
		<mapping resource="GatekprAudit.hbm.xml" />
        <mapping resource="MeterRun.hbm.xml" />
        <mapping resource="Protocol.hbm.xml" />
        <mapping resource="SecQuestion.hbm.xml" />


	</session-factory>
</hibernate-configuration>


