.body {
	margin:0px;
	padding:0px;
	/*background-image:url(../images/login-form%20copy.png); */
}

.main-div,.header,.content-div, .footer, {
	width:1400;
}
.header
{
	width:950px;
	margin-left:75px
}

.plain-div {
	height:auto;
	border-radius:0 0 0 0;
	background-color:#FFFFFF;
}

.main-div {
	height:auto;
	margin:auto;
	margin-top:2%;
}

.header {
	height:100px;
	background-color:#009900;
	border-radius:25px 25px 0 0;
}

.footer {
	height:30px;
	background-color:#F0EEF0;
	border-radius:0 0 25px 25px;
	margin-top:0px;
    position: fixed;
	margin-bottom: 2px;
}

.content-div {
	height:auto;
	
}

.div-height{
	height:auto;
}

.left-div,.right-div {
	width:500px;
	height:450px;
	background-color:#F0EEF0;
	float:left;
}

.left-div {
	border-radius:0 0 0 30px;
}

.right-div {
	border-radius:0 0 25px 0;
}

.info-form,.login-form,.register-form,.login-form-header {
	width:380px;
}

.login-form,.register-form,.up-text-box-style {
	border:1px solid #999;
}

.info-form{
	border:5px solid #999;
	border-radius:50px;
	border-color:#009900;
}

.login-form,.register-form {
	background-color:#F2F2F2;
	border-radius:5px;
}

.info-form {
	height:320px;
	margin:63px 0 0 80px;
}

.plain-form {
	height:auto;
	background-color:#FFFFFF;
}

.login-form {
	height:230px;
	margin:63px 0 0 40px;
}

.login-form-header {
	height:30px;
	background-color:#009900;
	margin:-16px 0 0 0;
	border-radius:3px 3px 0 0;
}

.register-form {
	height:66px;
	margin:24px 0 0 40px;
}

/*only_form_style*/

.user-id-td,.user-id-text-box-td,.password-td,.password-text-box-td,.login-button-td {
	padding-top:23px;
}



.user-id-td {
	padding-left:30px;
}
.user-id-text-box-td {
	padding-left:21px;
}
.password-td {
	padding-left:30px;
}
.password-text-box-td {
	padding-left:21px;
}
.login-button-td {
	padding-left:270px;
}
.forgot-password-td {
	padding-left:31px;
}
.up-text-box-style {
	width:110px; 
	height:25px;
	background-color:#F0EEF0;
}
/*form_style_ends*/

/*only_font_styles*/
.hesder-font,.info-font,.register-form,.login-font,.forgot-password-font,.label-font {
	font-family:Arial, Helvetica, sans-serif;
}
.hesder-font {
	font-size:32px;
	padding:62px 0 0 80px;
}
.hesder-font,.login-font {
	color:#f1f1f1;
}
.info-font {
	font-size:12px;
	margin:2px 0 0 4px;
}
.label-font { 
	font-size:13px;
}

.login-font{
	margin:16px 0 0 0;
	padding:1px 0 0 170px;
	font-size:20px;
	font-weight:bold;
}
.forgot-password-font {
	font-size:12px;
}
.register-form-font {
	font-size:13px;
	margin:4px 0 0 4px;
}

.Copyrights-font {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	margin:10px 0 0 420px;
}
/*font_styles_ends*/

/*only_button_style*/
.register-form-button {
	width:100px;
	background-color:#999;
	margin:-10px 0 0 265px;
	color:#000;
}
.login-form-buttom {
	width:70px;
	background-color:#999;
	color:#000;
}

.button-font
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:18px;
	font-weight:bold;
	color:#FFFFFF;
	
	background-color:#009900;
	border-radius: 20px 20px 20px 20px;
	margin-left:10px;
	margin-right:10px;
	width:80px;
	

}

.button-font-a
{
	
	background-image: url("gbtn.png");
    background-repeat: no-repeat;
	
	border-radius: 10px 10px 10px 10px;
	height:25px;
	width:25px;
}


.innercaption-font {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
	font-weight:bold;
	margin-left:5px;

}

.sectioncaption-font{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:15px;
	font-weight:bold;
	margin-left:100px;
}

.gen-form-font {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	margin:2px 0 0 420px;
}

.lmargin-checkbox{
	margin-left: 200px
}	

.table-style {
	margin-left: 75px;
	border:"1";
	border-bottom-color:#000000;
	
}
/*button_style_ends*/
