
.span-font
{
		font-family:Arial, Helvetica, sans-serif;
		margin-left: 7px;
		font-size:16px;
}
.p-font
{
		font-family:Arial, Helvetica, sans-serif;
		margin-left: 7px;
		font-size:16px;
}

.span-color
{
	color:#FF0000;
}

.table-style
{
	margin-left: 5px;
	border-color:#FF0033;
	

	
}

.td-font
{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		
}

.th-font
{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		background:#C4E0C4;
}

.plain-div {
	height:auto;
	border-radius:0 0 0 0;
	background-color:#FFFFFF;
}
.head-border{
	border:solid; 
	border-color:#000;
	
	}
.center-border{
	border-top:solid; 
	border-bottom:solid; 
	border-color:#000;
	}
.block-div {
	padding:10px; 
	float:left;
	}
	
.left-block-div {
	width:43%;
	}
	
.center-block-div {
	width:35%;
	}
	
.right-block-div {
	width:22%;
	}	
.bottom-block-div {
	width:64.6%;
	}
	
.top-block-div {
	width:73%;
	}	

.inner-head {
	width:100%; 
	background-color:#009900;
	border-radius:10px 10px 0 0;
	padding:0px; 

	color:#FFFFFF;
	}

.inner-content{
	width:100%;
	background-color:#FFF; 
	height:200px; 
	margin-bottom:10px;
	border-radius:0 0 20px 20px;
	}

.center-inner-content{
	width:100%;
	background-color:#FFF; 
	height:150px; 
	margin-bottom:10px;
	border-radius:0 0 20px 20px;
	}	
	
.right-block-content-div {
	height:100px;
	}	
.bottom-block-content-div {
	height:255px;
	}
.top-block-content-div {
	height:250px;
	}	
		
.medium-block-content-div {
	height:250px;
	}